# MongoDB Connection
MONGODB_URI=mongodb+srv://mehmeh700:<db_password>@policrisis.ffohxzm.mongodb.net/?retryWrites=true&w=majority&appName=Policrisis
MONGODB_DB=policrisis

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Admin User (for initial setup)
ADMIN_EMAIL=admin@polikriz.com
ADMIN_PASSWORD=admin123

